* {
  margin:0;
  padding:0;  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: grey;
  color: black;
  
}
 h1 {
   font-size: 200%;
   background-color:#fdd51b;
   padding-left:5%;
   padding-right: 1%;

 }
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  
}

nav a {
  color: #fdd51b;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
 text-decoration-color: ivory;
 text-decoration-thickness: 3px;
}

nav a:hover {
  color:ivory;
}

.underheader {
  height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/Users/Anastasia/homework-02-Portfolio/Assets/Images/yellow-gray-arrow-direction-overlap-on-hexagon-vector-21523217.jpg");
    background-size: cover;
    background-position: center;
}
