* {
  margin:0;
  padding:0; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: fit-content;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1% 1% 0;
  background-color: grey;
  color: black;
  
}

h1 {
   font-size: 200%;
   background-color:#fdcb13;
   padding-left:5%;
   padding-right: 1%;

 }
 
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px; 
}

nav a {
 color: #fdd51b;
 font-weight: bold;
 text-decoration: underline;
 text-underline-position: under;
 text-decoration-color: ivory;
 text-decoration-thickness: 3px;
}

nav a:hover {
  color:ivory;
}

section {
  display: flex;
  flex-wrap: wrap;
}
.hero {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
}
/*Picture on of me*/
.helper {
 max-width: 250px; 
 height: auto;
 position: absolute;
 top: 36px;
 opacity: 100%;
}

h2 {
  font-size: 40px;
  color: grey;
  display: inline;
  text-align:right; 
  margin-top: 30px;
}
#about-me {
  margin-left: 12px;
}

/*p about me*/
.middle {
  font-size: 20px;
  color: black;
  display: inline;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 50px;
  border-left:5px solid #fdd51b;
}
/*my name*/
span {
  font-weight: 900;
  font-size: 23px; 
}
/*sides with middle part*/
.all {
  display: flex;
  flex-direction: row;
}

.sides {
  width: 30vw;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.sides h2 {
  margin-right: 10px;
}

/*middle and p*/
.main {
  width: 70vw;
}

#work {
  display: flex;
  margin-left: 7.2vw;
}

main {
  width: 91%;
  margin: 3rem auto;
  border-left: 5px solid #fdd51b;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -4.5rem;
}

.one {
  justify-content: center;
}
/*first img*/
.column1{
  flex: 0 0 72.5%;
}

.column {
  width: 70vw;
  flex: 1 0 100%;
  padding: 1rem;
 transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

img {
  width:  100%;
  height: 290px;
  object-fit: cover;
  opacity: 10%;
  }
    
img:hover {
  opacity: 100%;
}

.code-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.7rem;
  padding-bottom: 1rem;
  outline: 3px solid #fdd51b;
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

 .code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: grey;
    color: #fdd51b;
    border: 2px solid #fdd51b;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

  .code-card:hover, .code-card:hover .card-header {
  box-shadow: inset 0px 0px 10px #fdd51b, 0 0 15px #fdd51b;
  }
  .code-card .code-block {
  flex-grow: 1;
  }

 .contacts {
  margin-top: 20px;
  margin-bottom: 50px;
}

 .contacts nav{
  font-size: 38px;
  padding-left: 30px;
  border-left:5px solid #fdd51b;
  margin-top: 50px;
  margin-left: 14px;
}

.main nav a {
  justify-content: space-between;
  margin-left: 85px;

}

footer {
 background: grey;
 text-align: center;
 font-size: 20px;
 color: #fdd51b
}

@media screen and (max-width: 1341px) {

 .helper {
   top: 40px;
   max-width: 200px;
   height: auto;
 }
}

@media screen and (max-width: 968px) {
 
 .all{
   flex-direction: column;
   justify-content: center;
 }

  .middle {
    border-left:hidden;
    margin-top:85px;
    }

  .mid1 {
      border-top: 5px solid #fdd51b;
      align-items: center;
      padding-top: 30px;
    }

  .mid2 {
      margin-bottom: 85px;
    }

  h2 {
    justify-content:left;
    margin-top: 60px;
    margin-bottom: -45px;
  }
  main {
    border-left: hidden;
    border-top: 5px solid #fdd51b; 
  }

  #work {
    margin-left: -8vw;
    margin-bottom: 5.5vw;
  }

  .row {
    margin-left: 0.5rem;
  }

  .column1 {
   flex:1;
   padding-top: 2rem;
  }

  .column {
    padding:2rem 0 0 0;
  }
  .code-card {
    outline: 3px dashed #fdd51b;
  }

  #contact-me {
    margin-top: -10px; 
  }

  .contacts nav {
    border-left: hidden;
    border-top: 5px solid #fdd51b;
    padding-top: 40px;
    margin-left: 40px;
    margin-top: 100px;
  }

  .main nav a {
    margin-left: 40px;
  }
  }

  @media screen and (max-width: 850px) { 
     
  .main nav {
    font-size: 20px;
  }
       
  }
  @media screen and (max-width: 768px) {  
    .main nav {
      font-size: 15px;
      display: inline;
    }
  }

  @media screen and (max-width: 720px) {  

    nav ul {
      display: block;
    }

    nav a {
      text-decoration-thickness: 1px;
      font-weight: lighter;
    }
    
    .main nav a{
      font-size: 15px;
      margin-left: 0;
    }
   } 

   @media screen and (max-width: 545px) { 
     
     .sides h2{
       margin-right: 36;
     }
     #work {
       margin-left: 8px;
     }
     #contact-me {
       margin-left: 18px;
     }

     
   }
   @media screen and (max-width: 420px) { 
     h2 {
       margin-top: -22px;
       margin-bottom: -52px;
     }

     #work  {
       margin-left: 15px;
     }

     #contact-me {
      margin-left: 52px;
    }
   }

   @media screen and (max-width: 375px) { 
     
    h2 {
      margin-top: -31px; 
    }
    
    .sides h2 {
      font-size: 20px;
    }

    .middle {
      margin-top: 0;
    }

    .mid2 {
      margin-bottom: 20px;
    }

    #work {
      margin-left: -19px;
      margin-top: 15px;
    }
    #contact-me h2 {
      font-size: 15px;
      margin-left: -10px;
    }
    
    .main nav {
      margin-top: 0;
    }

    .main nav a {
      margin-left: 0;
    }

    footer {
      font-size: 15px;
    }
  }
    
  @media screen and (max-width: 282px) { 

    .middle {
     margin-top: 18px;
     font-size: 15px;
    }

    .mid1 {
      padding-top: 5px;
    }

    #work {
      margin-left: 5px;
    }

    main {
      margin-top: -15px;
    
    }

    .column {
      padding-top: 1rem;
    }
  }

  @media screen and (min-width: 968px) {
    
    .column {
      flex: 0 0 35%;
      max-width: 35%;
    }

    .code-card {
      max-width: 100%;
      padding-bottom: -1px;
    }
  }

