* {
  margin:0;
  padding:0; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1% 1% 0;
  background-color: grey;
  color: black;
  
}
h1 {
   font-size: 200%;
   background-color:#fdcb13;
   padding-left:5%;
   padding-right: 1%;

 }
 
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px; 
}

nav a {
 color: #fdd51b;
 font-weight: bold;
 text-decoration: underline;
 text-underline-position: under;
 text-decoration-color: ivory;
 text-decoration-thickness: 3px;
}

nav a:hover {
  color:ivory;
}

section {
  display: flex;
  flex-wrap: wrap;
}
.hero {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
}
.helper {
 max-width: 250px; 
 height: auto;
 position: absolute;
 top: 36px;
}

h2 {
  font-size: 40px;
  color: grey;
  display: inline;
  text-align:right; 
}
/*h2 and p together*/
.all {
  display: flex;
  flex-direction: row;
  margin-left: 50px;

}
/*About Me section on the side*/

.sides {
  width: 300px;
  height: 100px;
  margin-top: 20px;
  }
  

.sides h2 {
  position: relative;
  top: 62px;
  left: 120px;
}
/*About Me section p*/
.middle {
  font-size: 20px;
  color: black;
  display: inline;
  padding-left: 30px;
  margin-top: 90px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 10px;
  border-left:5px solid #fdd51b;
}

.mid3 {
  border-left:5px solid #fdd51b;
  display: inline;
}
span {
  font-weight: 900;
  font-size: 23px; 
}

 /*Work section main*/
.accessibility-website {
  opacity: 30%;
  stroke-opacity: 100%;
 }

.accessibility-website:hover {
   opacity: 100%;
 }

.container {
   position: relative;
 }

.text-block {
  position: absolute;
  bottom: 100px;
  left:13px;
  font-size: 15px;
  color: #fdd51b;
  background-color: grey;
  background-size: cover;
  padding: 1%;
  position: absolute;
  border: 2px solid black;
 }

.accessibility-website {
   width:100%;
   height:600px;
   margin-left: 30px;
   margin-top: 20px;
   border: 3px solid #fdd51b;
 }

.row {
  display: flex;
  flex-wrap: wrap;
  display: inline;
  padding-left: 20px;
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 10px;
 }

.column {
  display: flex;
  align-items: flex-start;
  padding-left: 21px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 400px;
  height: 300px;
  margin-left: 10px;
  opacity: 30%;
  border: 3px solid #fdd51b;
}  
.column img:hover {
  opacity: 100%;
}

.contacts {
  position: relative;
  margin-left: 50px;
}




.contacts nav{
  font-size: 38px;
  padding-left: 30px;
  margin-top: 90px;
  margin-bottom: 50px;
  border-left:5px solid #fdd51b;
}

footer {
 background: grey;
 text-align: center;
 font-size: 15px;
 color: #fdd51b
}

@media screen and (max-width: 930px) {
  .column {
     flex-direction: column;
  }

    .accessibility-website {
    width: 300px;
    height: 150px;
  }

  .middle {
    border-left:hidden;
    margin-top:85px;
    }

  .mid1 {
      border-top: 5px solid #fdd51b;
      align-items: center;
      padding-top: 30px;
    }

  .mid2 {
      margin-bottom: 85px;
    }

  .mid3 {
    border-left: hidden;
    border-top: 5px solid #fdd51b;
  }

  .sides h2 {
     display: inline-block;
     white-space: nowrap;  
     top:15px;
   }

  .helper {
    top: 40px;
    max-width: 200px;
    height: auto;
  }

  .contacts nav {
    border-left: hidden;
    border-top: 5px solid #fdd51b;
    padding-top: 30px;
  }
  }

  @media screen and (max-width: 580px) {  
   .helper {
     top:60px;
   } 
  }
      


